/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
 */
@font-face {
    font-family: "Open Sans Condensed";
    src: url("../../ressources/fonts/open-sans-condensed/OpenSans-CondLight.woff") format("woff");
    /* font-weight: 300; */
}

@font-face {
    font-family: "Open Sans Condensed bold";
    src: url("../../ressources/fonts/open-sans-condensed/OpenSans-CondBold.woff") format("woff");
  /*   font-weight: 700; */
}


