{% extends "ecommerce/base.html" %}
{% load static %}
{% block title %}Oyéo – Page Rayon des Supermarches{% endblock %}

{% block extra_css %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- icone  font-awesome  version 6.5.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/ResetAll.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/Color.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/FontSizeAll.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/FontSizeAll.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/WidthAll.css' %}">


    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/TopBar.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/MiddleBar.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/partials/Footer.css' %}">
    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/unique/Supermarche.css' %}">


    <link rel="stylesheet" href="{% static 'ecommerce/assets/css/unique/SupermacheRayon.css' %}">



{% endblock %}

{% block navigation_bar %}{% endblock %}
    <!-- style des produits  :  home-->



{% block content %}

        <!-- BARRE TOP -->
    <div id="topbarre" class="bg-success">
        <div id="topbarre_bloc">
            <a href="supermarcheCategorie.html" class="btn btn-sm active "> <span class="topbarre_emojie"><img
                        src="ressources/icons/bebe.svg" alt=""></span> Tous les rayons</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/rougealevre.svg" alt=""></span> Hygiène et beauté</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/savon.svg" alt=""></span> Entretien & maison</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/animale.svg" alt=""></span> Animalerie</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"> <img
                        src="ressources/icons/ettiquette.svg" alt=""></span> Promotions</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/etoile.svg" alt=""></span> Nouveauté</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/promo.svg" alt=""></span> Laverie & Séchage</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img src="ressources/icons/bebe.svg"
                        alt=""></span> Bébé & enfant</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/savon.svg" alt=""></span> Hygiène et beauté</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/savon.svg" alt=""></span> Entretien & maison</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/savon.svg" alt=""></span> Animalerie</a>
            <a href="#" class="btn btn-sm "> <span class="topbarre_emojie"><img
                        src="ressources/icons/savon.svg" alt=""></span> Promotions</a>


        </div>

    </div>


    <!-- MINI MENU DES FILTRE / TRIE -->
    <div class="mini_menu_filtre_trie ">
        <form action="" method="get">
            <div class="d-flex justify-content-between">
                <div class="mini_menu_filtre_trie_bloc_trie">
                    <label for="" class="d-block mb-2">Trier par :</label>
                    <select name="" id="" class="form-select">
                        <option value="pertinence">Pertinence</option>
                        <option value="pertinence">Plus luxieuse</option>
                        <option value="pertinence">Plus chèr</option>
                    </select>
                </div>

                <div class="mini_menu_filtre_trie_bloc_trie">
                    <label for="" class="d-block mb-2">Marque :</label>
                    <select name="" id="" class="form-select">
                        <option value="pertinence">Toutes les marques</option>
                        <option value="pertinence">Adidas</option>
                        <option value="pertinence">Nike</option>
                    </select>
                </div>

                <div class="mini_menu_filtre_trie_bloc_trie" style="position: relative; ">
                    <label class="form-label mb-0">Note minimum :</label>

                    <div class="range-container" style="position: relative;">
                        <!-- L'indicateur qui bouge -->
                        <div id="rangeTooltip" class="range-tooltip">10</div>

                        <input type="range" class="custom-range-slider" min="0" max="25" value="10" id="noteRange">
                    </div>

                    <div class="d-flex justify-content-between" style="margin-top: -8px;">
                        <small class="text-muted">0.00$</small>
                        <small class="text-muted">25.00$</small>
                    </div>
                </div>

                <div class="mini_menu_filtre_trie_bloc_trie">
                    <label for="" class="d-block mb-2">Note minimun :</label>
                    <select name="" id="" class="form-select">
                        <option value="pertinence">Toutes les notes</option>
                        <option value="pertinence">15</option>
                        <option value="pertinence">3</option>
                    </select>
                </div>


                <div class="mini_menu_filtre_trie_bloc_trie">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="">
                            En promotion
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="">
                            Bio
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="">
                            En stock
                        </label>
                    </div>
                </div>

            </div>
        </form>

    </div>

    <!-- /* *************************************  SECTION TOUT NOS PRODUITS ************************* */ -->

    <div id="bloc_toutnosproduits_supermarcheRayon">
        <div class="d-flex justify-content-between ">
            <div class="" style="width: 430px;">
                 <h2 class="titre_principal">Tous nos produits</h2>
                 <span class="text-secondary">30 produits</span>
            </div>
            <div class="btn_retour">
                <a href=""> <i class="fa-solid fa-arrow-left"></i> Retour à l'acceuil</a>
            </div>
        </div>



        <div id="sousbloc_toutnosproduits">

            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/banner/b7.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>


            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/occas.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>



            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/card-item4.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>


            
            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/card-item9.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>
     


            
            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/n8.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>



                <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/card-item7.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>


            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/card-item5.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>



            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/n1.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>


            
            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/b2.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>
     


            
            <div class="produit_toutnosproduits">
                <div class="bloc_image_produit_toutnosproduits"
                    style="background-image: url('./ressources/image/habit/f4.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_toutnosproduits">
                        <div class="type_toutnosproduits text-white"> <img src="./ressources/icons/ettiquette.svg" alt=""> Promo</div>
                        <div class="reduction_toutnosproduits text-white"><img src="./ressources/icons/etoile2.svg" alt=""> Vedette </div>
                        <div class="bg-warning text-white"><img src="./ressources/icons/herbe.svg" alt=""> Bio</div>
                    </div>
                </div>
                <div class="bloc_description_produit_toutnosproduits">
                    <div class="text_desciptive text-secondary">Bio Nature</div>
                    <div class="text_titre">Pommes Golden Bio</div>
                    <div class="text_qte text-secondary">Pack 12X100mg</div>

                    <div class="bloc_etoile_toutnosproduits"><img src="./ressources/icons/etoile2.svg" alt="" class="image_etoile_toutnosproduits"> 4.8 (124)</div>


                    <div class="blocEnd_description d-flex  align-items-center">
                       
                            <div class="price">2.49$</div>
                            <div class="ps-2 priceUnite text-secondary"> 2.49$/kg</div>
                        

                    </div>
                </div>
            </div>



        </div>

    </div>





    <!-- ***************************   SECTION PRODUIT DEALS OF DAYS *************************** -->

    <div id="bloc_produitdealofdays_supermarcheRayon">
        <h2 class="titre_principal">Deals of the days</h2>
        <div id="sous_bloc_produitdealofdays_supermarcheRayon">
            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-6.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary qte">500 gram</small></div>

                        <div class="pricePlusAdd ">
                            <div>
                                <span class="newPrice">$5.51</span>
                                <span class="oldPrice">$7.45</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>



            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-5.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$10.87</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>



            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-4.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$11.56</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-7.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$5.05</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-16.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary qte">500 gram</small></div>

                        <div class="pricePlusAdd ">
                            <div>
                                <span class="newPrice">$5.51</span>
                                <span class="oldPrice">$7.45</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>



            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-11.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$10.87</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>



            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-13.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$11.56</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="produit_dealofday">
                <div class="bloc_image_dealofday"
                    style="background-image: url('./ressources/image/banner/banner-19.png'); background-size: cover; background-position: center;">

                </div>
                <div class="bloc_text_dealofday">
                    <div class="bloc_stat_dealofday">
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Days
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Hours
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Mins
                            </span>
                        </div>
                        <div class="sous_stat">
                            <span class="nombre">
                                58
                            </span>
                            <span class="description">
                                Secs
                            </span>
                        </div>
                    </div>

                    <div class="bloc_description_dealofday">
                        <p>Seed of change Organic Quinaa, Brown & , Red Rice</p>
                        <div class="rating">★★★★★ (372)</div>
                        <div><small class="text-secondary">500 gram</small></div>

                        <div class="pricePlusAdd">
                            <div>
                                <span class="newPrice">$2.51</span>
                                <span class="oldPrice">$5.05</span>
                            </div>
                            <button class="btn btn-sm ">Ajouter au panier</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <!-- ******* bloc des produits les plus acheté ******************* -->

    <div id="bloc_produitLesPlusAchete">
        <h2 class="titre_principal">Les plus achetés</h2>
        <div id="sousbloc_produitLesPlusAchete">
            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/product-3-1.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">20%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>

            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/n4.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">20%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>


            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/n7.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">20%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>



            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/f7.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">-10%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>




            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/product-1-1.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">Bio</div>

                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>



            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/product-4-1.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">20%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>



            <div class="produit_produitLesPlusAchete">
                <div class="bloc_image_produit_produitLesPlusAchete"
                    style="background-image: url('./ressources/image/habit/product-2-1.jpg'); background-size: cover; background-position: center;">
                    <div class="bloc_type_reduction_produitLesPlusAchete d-flex justify-content-between">
                        <div class="type_produitLesPlusAchete">local</div>
                        <div class="reduction_produitLesPlusAchete">20%</div>
                    </div>
                </div>
                <div class="bloc_description_produit_produitLesPlusAchete">
                    <div class="text_desciptive text-secondary">Nos regions ont du talent</div>
                    <div class="text_titre">Tomate rondes</div>
                    <div class="text_qte text-secondary">520mg</div>

                    <div class="blocEnd_description d-flex justify-content-between align-items-center">
                        <div>
                            <div class="price">2.49$</div>
                            <div class="priceUnite text-secondary">2.49$/kg</div>
                        </div>
                        <button class="btn btn-sm "><i class="fa-solid fa-cart-shopping"></i> </button>

                    </div>
                </div>
            </div>



        </div>
    </div>









    <!-- ============================================================================================= -->
    <!-- ***********************☰**  NEWS LETTER                 ************************* -->
    <!-- ============================================================================================= -->
    <br>
    <div style="  background-color: rgba(238, 238, 238, 0.658);">
        <div class="container_n1">
            <section id="newsletter">
                <div class="newsletter_div">
                    <h3>S'inscrire sur notre newsletter</h3>
                    <h5>Rejoins notre communauté et sois <span class="text-primary"> le premier à découvrir nos offres
                            exclusives et nos nouvelles
                            affaires
                            !</span>
                    </h5>
                </div>
                <form action="" class="newsletter_div">
                    <div class="input-group mb-3 w-100 border">
                        <input type="email" class="form-control" placeholder="your email please "
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign Up</button>
                    </div>
                </form>
            </section>
        </div>
    </div>



{% endblock %}


{% block extra_js %}
    <!-- ============================================================================================= -->
    <!-- **************************   SCRIPTS EXTERNES CDN  ************************************* -->
    <!-- ============================================================================================= -->
    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



    <!-- ============================================================================================= -->
    <!-- **************************   SCRIPTS PAGES REPETITIVES  ************************************* -->
    <!-- ============================================================================================= -->
    <!-- script du premier modele de caroussel  :  home------->
    <script src="{% static 'ecommerce/assets/js/partials/MiddleBar.js' %}"></script>
    <!-- fonctions JS communes à toutes les pages -->
    <script src="{% static 'ecommerce/assets/js/partials/Footer.js' %}"></script>

     <!-- range js -->
    <script>
        const rangeInput = document.getElementById('noteRange');
        const tooltip = document.getElementById('rangeTooltip');

        function updateRange() {
            const val = rangeInput.value;
            const min = rangeInput.min ? rangeInput.min : 0;
            const max = rangeInput.max ? rangeInput.max : 100;

            // 1. Calcul de la position du curseur en pourcentage
            const newVal = Number(((val - min) * 100) / (max - min));

            // 2. Coloration de la barre (partie gauche)
            rangeInput.style.background = `linear-gradient(to right, rgb(31, 148, 119) ${newVal}%, #dee2e6 ${newVal}%)`;

            // 3. Positionnement de la bulle
            tooltip.innerHTML = val;
            // On ajuste légèrement le calcul pour que la bulle soit centrée sur le rond
            tooltip.style.left = `calc(${newVal}% + (${8 - newVal * 0.15}px))`;
        }

        rangeInput.addEventListener('input', updateRange);

        // Initialisation
        updateRange();
    </script>


{% endblock %}